html
{
	font-family: 'Press Start 2P', consolas, courier, sans-serif;
	margin: 0 auto;
}

div
{
	border: 2px solid grey;
	margin: 0px;
	padding: 0px;
	min-height: 150px;
}

#main
{
	position: relative;
	width: 1000px;
	text-align: center;
}

#banner
{
	min-height: 100px;
}

.character
{
	width: 100px;
}