html, body
{
	background: url("../images/sunset.png") no-repeat center center fixed;
	background-size: cover;
	padding: 2%;
	max-width: 1000px;
}

div
{
	overflow: auto;
/*	border: 2px solid grey;*/
	margin: 0px;
	padding: 0px;
	min-height: 10px;
}

p
{
	font-family: 'Press Start 2P', courier, sans-serif;
	margin: 0px;
}

h1
{
	font-family: 'Press Start 2P', courier, sans-serif;
	font-weight: 700;
	font-size: 24px;
}

.right
{
	text-align: right;
}

.character
{
	padding: 0px;
	float: left;
	overflow: auto;
	width: 16%;
	background-color: white;
	border: 4px solid green;
	margin: 0px 5px 0px 0px;
}

.enemy
{
	background-color: grey;
}

.defender
{
	background-color: red;
}

.btn
{
	font-family: 'Press Start 2P', courier, sans-serif;
	font-size: 12px;
}

.title
{
	position: relative;
	min-height: 40px;
}

.title-text
{
	position: absolute;
	bottom: 0px;
	font-size: 12px;
}

.status
{
	font-size: 12px;
}

.avatar
{
	width: 100%;
}

.hidden
{
	display: none;
}

.box-text
{
	padding: 5px 0px;
	background-color: white;
	width: 100%;
	text-align: center;
	font-size: 10px;
}

#page-title
{
	width: 80%;
	margin: 0 auto;
}

